<%= form_for(task) do |f| %>
  <% if flash[:notice]%>
    <div class="error">
      <%= flash[:notice] %>
    </div>
  <% end  %>

  Name:</br>
  <%= f.text_field :name %></br>
  Description:</br>
  <%= f.text_area :description %></br>
  Share with(optional):</br>
  <%= f.text_field :another_user_email %></br>
  </br>
  <%= f.submit "Submit" %>
<% end %>
