<div class="std-div well well-sm" id="notifications-container"></div>

<div class="std-div well well-sm">
  <%= render 'shared/flash_errors_array' %>
  <%= render 'shared/model_errors', model: @task %>

  <span class="centered-inline"><h1>Edit Task</h1></span>

  <%= render 'form', task: @task %>
</div>

<div class="task std-div">
  <%= link_to 'Back to List', tasks_path %>
</div>

<script type="text/javascript">
  fayeSubscribe("<%= @channel %>");
</script>
