<div class="std-div">
  <% # TODO remove if else from view %>
  <% if @tasks.blank? %>
    <h2>You have no tasks.</h2>
  <% else %>
    <h2>Task List</h2>

    <% @tasks.each do |task| %>
      <div class="task std-div">
        <b>Name:</b></br>
        <%= task.name %></br>
        <b>Description:</b></br>
        <% if !task.description.empty? %>
          <%= task.description %></br>
        <% else %>
          No description added</br>
        <% end %>
        <b>User Email:</b></br>
        <% task.users.each do |user| %>
          <%= user.email %></br>
        <% end %>
        </br>
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="std-div">
  <%= link_to 'New Task', new_task_path %>
</div>

<div id="notifications-container" class="std-div">
  <h2>Notifications</h2>
</div>

<script type="text/javascript">
  fayeSubscribe("<%= @channel %>");
</script>
