<div class="std-div well well-sm" id="notifications-container"></div>

<div class="std-div well well-sm">
  <%= render 'shared/model_errors', model: @task %>
  <%= render 'shared/flash_errors_array' %>

  <span class="centered-inline"><h4>Task</h4></span>

  <%= render 'task', task: @task %>
  <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-primary" %>
  <%= link_to 'Back', tasks_path, class: "btn btn-primary" %>
</div>

<script type="text/javascript">
  fayeSubscribe("<%= @channel %>");
</script>
