<div class="task std-div">
  <h1>Task</h1>

  <b>Name:</b></br>
  <%= @task.name %></br>
  <b>Description:</b></br>
  <% if !@task.description.empty? %>
    <%= @task.description %></br>
  <% else %>
    No description added</br>
  <% end %>
  <b>User Email:</b></br>
  <% @task.users.each do |user| %>
    <%= user.email %></br>
  <% end %>
  <%= link_to 'Edit', edit_task_path(@task) %>
  <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="task std-div">
  <%= link_to 'Back', tasks_path %>
</div>
