<div class="std-div">
  <h1>Signup!</h1>

  <%= render 'shared/errors', model: @user %>

  <%= form_for :user, url: '/users' do |f| %>
    Name:</br>
    <%= f.text_field :name %></br>
    Email:</br>
    <%= f.text_field :email %></br>
    Password:</br>
    <%= f.password_field :password %></br>
    Password Confirmation:</br>
    <%= f.password_field :password_confirmation %></br></br>
    <%= f.submit "Submit" %>
  <% end %>
</div>
