<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="<%= "#{root_url}faye/client.js" %>"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div id="status">
        <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
